@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    color: white;
}

body,
.card-body {
    background-color: black;
}

.card {
    width: 15rem;
    border: none;
}

.card-text {
    color: grey;
}

.carousel-control-prev,
.carousel-control-next {
    width: 25px;
}

nav {
    background-color: #191a21;
}

footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    background-color: #191a21;
}

a:link {
    text-decoration: none;
}

hr {
    background-color: lightgrey;
}

#searchBar {
    width: 150px;
}

#btnGroupDrop,
#btnGroupDrop:active {
    background-color: transparent;
    border: none;
}

#profileImg {
    width: 25px;
    height: 25px;
}

.sort {
    background-color: #191a21;
    color: white;
}

ul {
    padding: 0;
    list-style-type: none;
}

option {
    color: black;
}

#movieDetails {
    position: absolute;
    top: 10rem;
    left: 5rem;
    right: 5rem;
    z-index: 2;
}

#bgImage {
    position: relative;
    top: 0;
    z-index: 1;
    filter: brightness(50%);
}

#movieDetailsContainer {
    position: relative;
}

#movieDetailsImage {
    height: 36rem;
}

#actorImage {
    height: 16rem;
}

textarea {
    height: 10rem;
}
