@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

#loginForm {
    color: white;
    margin-top: 4rem;
}

#registerForm {
    color: white;
    margin-top: 1rem;
}

a:link {
    text-decoration: none;
}
