@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    color: white;
}

body,
.card-body {
    background-color: black;
}

.card {
    width: 15rem;
}

.carousel-control-prev,
.carousel-control-next {
    width: 25px;
}

nav {
    background-color: #191a21;
}

footer {
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    background-color: #191a21;
}

#loginForm {
    margin-top: 4rem;
}

#registerForm {
    margin-top: 1rem;
}

a:link {
    text-decoration: none;
}

.carousel-image {
    height: 1080px;
}

hr {
    background-color: lightgrey;
}
